@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #f1eaea;
}

section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1){
  color: #fff;
}

section:nth-child(2){
  color: #f5f5f6;
  background: #020202;

  text-align: justify;
  font-size: 125%;
   
}



section:nth-child(3){
  color: #fff;
 
}
section:nth-child(3) h2{
  color: black;
}
section:nth-child(3) .cards .text-card ul {
color: #000000;

font-size: 25px;
}
section:nth-child(3) .cards .text-card li {
  color: #000000;

 text-align: justify;
 font-size: 20px;
  }
section:nth-child(4){
  color: #f1eaea;
  background: #000000;
}
section:nth-child(4) .cards .text-card ul {
  color: white;
  font-size: 20px;
  }
  section:nth-child(4) .cards .text-card li {
    color: white;
  text-align: justify;
  
   font-size: 20px;
    }
section .container{
  margin: 100px;
  
}

section h1{
  text-align: center;
  font-size: 60px;
  color: black;
}
section h1{
  text-align: center;
  font-size: 60px;
  color: black;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #f6eeee;
}


section .cards{
  display: flex;
}

section .cards .text-card{
  background:transparent;
  margin: 20px;
  padding: 20px;
  color:white;
}


section .cards .text-card h3{
  font-size: 15px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: black;
  
}
section .cards .text-card p{
  font-size: 50px;
  text-align: justify;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
  justify-content: center;
  font-size: larger;
}
@media (max-width: 900px){
  section h1{
    font-size: 40px;
  }

  section .cards{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
.hero
{
width: 100%;
height: 100vh;
background-color: #f1eaea;
background-size: cover;
background-position: center;
position:relative;
overflow: hidden;
}
.logo
{
width: 150px;
cursor: pointer;
}
.navbar{
	width: 85%;
	height: 15%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
  
	
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	display: inline-block;
	margin-right: 20px;
	text-align: right;
	color: #fbfcfd;
}
li a {
  text-decoration: none;
  color: black;
 
  position: relative;
  transition: all ease-in-out 250ms;
}
li a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color:#f7971e ;
  bottom: -1em;
  transition: all ease-in-out 250ms;
}

li a:hover::after {
  width: 100%;
}

li a:hover {
  color:#f7971e ;
}
button{
	color: #fbfcfd;
	padding: 10px 25px;
	background: transparent;
	border: 1px solid #fff;
	outline: none;
	cursor: pointer;
}
.hero h1
{
  text-align: center;
}
a{
	color :#000000;
 }
.text-card p{
  color: white;
  
}